.navbar-collapse a {
    color: #262633;
    font-size: 16px;
}

.navbar-collapse a:hover {
    color: #62ad91
}

.navbar-collapse a:focus {
    color: #62ad91; 
    font-weight: 450;
}

.card-title {
    color: #737377;
    font-size: 18px;
}

.card-amount {
    margin-top: 12px;
    margin-right: 12px;
    font-weight: 700;
    color: #3b3b42;
    font-size: 26px;
}

.card-text {
    color: #737377;
    font-size: 16px;
}

/* .bi{
    color: #474747;
} */



